<perch:form id="reset" method="post" app="perch_members">

	<h6 class="text-center mt-4">Καταχωρήστε την ηλεκτρονική σας διεύθυνση εδω και θα σας αποστείλουμε νέο κωδικό πρόσβασης.</h6>
	
	<div class="row justify-content-center mt-4">
		<div class="form-group col-lg-10 col-12">
			<perch:input type="email" id="email" class="form-control register" required="true" label="Ηλεκτρονική Διεύθυνση" placeholder="Ηλεκτρονική Διεύθυνση" helper="PerchMembers_Members::check_email_exists" />
			<perch:error for="email" type="required">Παρακαλώ Προσθέστε την Ηλεκτρονική σας Διεύθυνση</perch:error>
			<perch:error for="email" type="helper"><p>Δεν υπάρχει λογαριασμός με αυτη την Ηλεκτρονική Διεύθυνση.</p></perch:error>
		</div>
	</div>
	<div class="row justify-content-center mt-3">
		<div class="col-lg-10 col-12 text-left">
		 	<perch:input type="hidden" id="lang" value="gr" />
			<perch:input type="submit" class="btn btn-sign" value="Eπαναφορά" />
		</div>  
	</div>


	<perch:success>
		<h4 class="text-center my-4">Ο νέος σας κωδικός έχει σταλεί στην ηλεκτρονική σας διεύθυνση.</h4>
	</perch:success>

</perch:form>
